@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@700&family=Nunito+Sans:wght@700;900&display=swap');

h1 { 
    display: block;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 20px;
    font-weight: bold;
    position: fixed ;
      }
      
h2 {
        display: block;
        font-size: 50px;
        margin-top: 30%;
        margin-left: 10%;
        font-weight: bold;
      }     
h3 {
        display: block;
        font-size: 50px;
        margin-top: 0%;
        margin-left: 35%;
        font-weight: bold;
      }
 h7 {

    color: black;
    font-size: 20px;
    margin-left: 13%;

 } 
.pic1 {
    top:15%;
    width: 60%;
    height: 70%;
    left: 20%;
}
.pic3 {
    margin-left: -95%;

}

.button {

    margin-left: 27%;
    margin-top: 55%;
}


.sidepanel  {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 70%;
    top: 0;
    left: 0;
    background-color: rgb(176, 255, 176);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    align-items: center;
  }
  
  .sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
  }
  
  .sidepanel a:hover {
    color: #f1f1f1;
  }
  
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #F2FAFF;
    color: black;
    padding: 10px 15px;
    border: none;
    margin-left: 80%;
    margin-top: 4.5%;
  }
  
  .openbtn:hover {
    background-color:#F2FAFF;
  }
  