@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@700&family=Nunito+Sans:wght@700;900&display=swap');


table, td, th {
    border: 1px solid;
    text-align: left;
    }
    
    table {
    width: 50% ;
    border-collapse: collapse;
    }
    td {
    height: 0px;
    vertical-align:  baseline;
    }
    
    tr {
    height: 100% ;
    font-size: 25px ;
    }
    
    th, td {
    padding: 20px;
    }