       @import url('https://fonts.googleapis.com/css2?family=Almarai:wght@700&family=Nunito+Sans:wght@700;900&display=swap');

    table, td, th {
  border: 1px solid;
  text-align: left;
}
 /* Formatting the size and space of the table */
table {
  width: 1420px ;
  border-collapse: collapse;
}
td {
  height: 0px;
  vertical-align:  baseline;
}
 /* formatting the rows and columns of table */
tr {
  height: 600px ;
  font-size: 25px ;
}

th, td {
  padding: 20px;
}

.navbar {
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 70%;
  margin-left: 16.8% ;
  margin-top: 1.4% ;
}

.navbar a {
  float: middle;
  display: inline-flex;
  color: black ;
  text-align: center ;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-inline-start: 40px ;
  
}

.navbar a:hover {
  background: #ddd;
  color: black;
}


body {  
    font-family: 'Almarai', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 22px;
    }
    @import url('');

     /* The logo on the top left corner, which acts as a button that brings the user back to the home screen */
      /* No decorations are used in order to make the button look like normal text, which appear more fitting with the layout and design */
.buttonMAIN {
    display: inline-flex;
        border: none;
        color: black ;
        padding: 0px 0px;
        text-align: center;
        vertical-align: center ;
        text-decoration: none;
        display: inline-block;
        font-size: 50px;
        margin-top: 2px ;
        margin-left: 12px ;
        cursor: pointer;
      
      }

.buttonMAIN:hover {
filter: brightness(5%) ;

}


@media only screen and (min-width: 768px){
    .openbtn {
           display: none;
     }
     }
     
     @media only screen and (min-width: 768px){
        .sidepanel{
              display: none;
        }
        }  
        @media only screen and (max-width: 768px){
            .TABLE1 {
                  display: none;
            }
            }  
            @media only screen and (max-width: 768px){
                .navbar{
                      display: none;
                }
                }

                @media only screen and (min-width: 768px){
                    .table3{
                          display: none;
                    }
                    }
                    @media only screen and (max-width: 768px){
                        .pic1{
                              display: none;
                        }
                        }
                        @media only screen and (min-width: 768px){
                            .PIC4{
                                  display: none;
                            }
                            }
                            @media only screen and (min-width: 768px){
                                .CHAIRLINK{
                                      display: none;
                                }
                                }
                                @media only screen and (max-width: 768px){
                                    .Chaircmp{
                                          display: none;
                                    }
                                    }