
 @import url('https://fonts.googleapis.com/css2?family=Almarai:wght@700&family=Nunito+Sans:wght@700;900&display=swap');

 table, th, td {
border:2px solid black  ;
border-collapse: collapse;
}

h1 {
display: block;
font-size: 40px;
text-align: center;
}
h2 {
font-size: 45px ;
margin-top: 1%;
margin-left: 2% ;
}
h3 {
font-size: 20px;
margin-left: 2%
}
h4 {
font-size: 20px;
margin-left: 2%
}

h5 {
font-size: 20px ;
margin-left: 1.5% ;
}

h6 {
font-size: 30px ;
margin-left: 1.5% ;
margin-top: -4%
}

body, pre, table {  
    font-family: 'Almarai', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 22px;
    }
    @import url('');

.buttonMAIN {
    display: inline-flex;
        border: none;
        color: black ;
        padding: 0px 0px;
        text-align: center;
        vertical-align: center ;
        text-decoration: none;
        display: inline-block;
        font-size: 50px;
        margin-top: 2px ;
        margin-left: 12px ;
        cursor: pointer;
      
      }

.button:hover {
filter: brightness(5%) ;


}


.button {
    display: inline-flex;
        background-color: black;
        border: none;
        color: white;
        padding: 7px 50px;
        text-align: center;
        vertical-align: center ;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-top: -200px ;
        margin-left: 597px ;
        cursor: pointer;
      
      }

      .ctnsp {
            border: none;
            color: black ;
            padding: 0.3% 0px;
            text-align: center;
            vertical-align: center ;
            text-decoration: none;
            display: inline-block;
            font-size: 35px;
            cursor: pointer;
            background-color: white;
          }
    .ctnsp:hover {
        color: black; opacity: 50%;
    }

    .ptcbtn {
        border: none;
        color: black ;
        padding: 2.3% 29.7%;
        text-align: center;
        text-decoration: none;
        font-size: 35px;
        cursor: pointer;
        background-color: rgb(176, 255, 176);
      }
.ptcbtn:hover {
    color: black; opacity: 50%;
}