@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@700&family=Nunito+Sans:wght@700;900&display=swap');
nav {     /* Navigation bar settings and layouts */
    height:100px;
    padding-left: 20px;
    padding-right: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
      }

      .header h1 { 
        display: inline;
      }
      .header span {  /* Layout for the logo/header */
        margin-left: 100px ;
      }
  nav > h1{ 
    width:160px;
    font-size: 1000px;
    justify-self: left;
  }

  @import url('');  /* import of font */

body {  
    font-family: 'Almarai', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 22px;
    }
  
     /* Formatting and desining the EXPLORE button which leads user to products page */
    .button {
        display: inline-flex;
            background-color: black;
            border: none;
            color: white;
            padding: 7px 50px;
            text-align: center;
            vertical-align: center ;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin-top: -200px ;
            margin-left: 597px ;
            cursor: pointer;
          
          }
          
          
 /* Formatting the texts and position */
    h1 { 
  display: block;
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 50px;
  margin-left: 20px;
  font-weight: bold;
  position: fixed ;
    }

    h2 {
  display: block;
  font-size: 100px;
  margin-top: 200px;
  margin-bottom: 0px;
  margin-left: 350px;
  font-weight: bold;
}
    h3 {
  display: block;
  font-size: 100px;
  margin-top: -80px;
  margin-bottom: 0px;
  margin-left: 650px;
  font-weight: bold;
}

    h4 {
  display: block;
  font-size: 50px;
  margin-top: -10px;
  margin-bottom: 0px;
  margin-left: 620px;
  font-weight: bold;
}

.button2 {
  text-decoration: none;
  color: black;
  align-items: center;

}

svg {
  position: absolute;
  top: 240px;
  left: 420px;
  width: 540px;
  height: 370px;
  background: #E2F4FF;
  z-index:-2;
}

.btnchairs {
  border: none;
  font-style: bold;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 15px;
  cursor: pointer;
  display: inline-block;
  margin-left: 20px ;
}
 /* Indicates with a darker shades on the tabs when the curser is hovering over them */
.btn:hover {background: #eee;}

.chairs {color: black }
.sofas {color: black;}
.tables {color: black;}
.bed_frames {color: black;}
.mattresses {color: black;}
.accessories {color: black}

body {margin:0;}

.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 90%;
  margin-left: 250px ;
  margin-top: 20px ;
}

.navbar a {
  float: middle;
  display: inline-flex;
  color: black ;
  text-align: center ;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-inline-start: 40px ;
  
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

 /* design of the search bar */
.SEARCH {
  float: right;
  margin-right: 12%;
  margin-top: -2.8%;
    border: 1px solid grey ;
    box-sizing: border-box;
    font-size: 16px;
    width: 10%;
  }

 /* hiding and showing navigation bars, menu popup and search during desktop and smartphone modes */
@media only screen and (min-width: 768px){
  .navbar2{
        display: none;
  }
  }

  @media only screen and (max-width: 768px){
    .navbar{
          display: none;
    }
    }


    @media only screen and (min-width: 768px){
      .sidepanel{
            display: none;
      }
      }  
      @media only screen and (min-width: 768px){
        .svg{
              display: none;
        }
        }       
          
            @media only screen and (max-width: 768px){
              .pic2 {
                     display: none;
               }
               }  

               @media only screen and (max-width: 768px){
                .subt {
                       display: none;
                 }
                 }  

                 @media only screen and (min-width: 768px){
                  .openbtn {
                         display: none;
                   }
                   }  