nav {             /* Gray */
    height:100px;
    padding-left: 20px;
    padding-right: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
      }
  
  nav > h1{         /* Red */
    width:160px;
    font-size: 1000px;
    justify-self: left;
  }

  @import url('');

body {  
    font-family: 'Almarai', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 22px;
    }
  
    .button {
        display: inline-flex;
            background-color: black;
            border: none;
            color: white;
            padding: 7px 50px;
            text-align: center;
            vertical-align: center ;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin-top: -200px ;
            margin-left: 597px ;
            cursor: pointer;
          
          }

.button:hover {
    filter: brightness(85%) ;

}